<div class="navbar border-bottom bg-white">
  <div class="container d-flex align-items-center justify-content-between py-2">
    <i class="fal fa-cubes" id="logo-cubes"></i>

    <!-- turn this link into a button -->
    <img src="https://kitt.lewagon.com/placeholder/users/julioeq29" alt="" id="image-navbar">
    <!-- <a href="#" class="btn btn-primary">Login</a> -->
  </div>
</div>

