<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <% @courses.each do |course| %>
        <div class="card-course">
          <div class="card-course-date">
            <p>Monday</p>
            <h2>26</h2>
            <p>June</p>
          </div>
          <div class="card-course-infos">
            <h2><%= course.name %></h2>
            <p><%= course.description %></p>
          </div>
          <div class="card-course-progress">
            <i class="fal fa-heart"></i>
            <i class="fal fa-bookmark"></i>
            <i class="fal fa-share-square"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
